.material-editor {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #29292f;
  color: #ffffff;
  padding: 1rem;
  display: flex;
}
.material-editor>* {
  flex: 0 0 auto;
}
.material-editor>.material-editor__content {
  flex: 1 1 auto;
}
.material-editor .material-editor__list {
  margin: 1rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.material-editor .material-editor__list>ul {
  flex: 1 1 auto;
}
.material-editor .material-editor__properties {
  margin: 1rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.material-editor__properties .MuiPaper-root {
  flex: 1 1 auto;
}
.material-editor__properties .MuiGrid-root {
  /* fix alignment weirdness with nested grids of different types */
  margin-top: 0;
  padding: 0 1rem 1rem;
}
/* Dirty hack; wouldn't work for all themes */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}